.flows.json.backup
[
    {
        "id": "8af42ff0faae0f39",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f62a74adbda426b9",
        "type": "tab",
        "label": "Flujo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ecaf29400210a34a",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "172.20.10.5",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "42331fbbabf4f709",
        "type": "ui_tab",
        "name": "SmartHome UTalca",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4c2403973f8445e9",
        "type": "ui_tab",
        "name": "Seguridad y camara",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5ce8a92e307b420a",
        "type": "ui_tab",
        "name": "Control y alertas",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "43749d8e2fcf7398",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    },
    {
        "id": "6968ba1cbd4c2af3",
        "type": "ui_group",
        "name": "Condiciones Ambientales",
        "tab": "42331fbbabf4f709",
        "order": 1,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9182aa977ffecebe",
        "type": "ui_group",
        "name": "Seguridad y Cámara",
        "tab": "4c2403973f8445e9",
        "order": 1,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6e91db68bb34dd1",
        "type": "ui_group",
        "name": "Control y Alertas",
        "tab": "5ce8a92e307b420a",
        "order": 2,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b5e65b3dd28f6312",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5e23051b96f1cb05",
        "type": "ui_gauge",
        "z": "8af42ff0faae0f39",
        "name": "",
        "group": "6968ba1cbd4c2af3",
        "order": 3,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "8669a1ab8874a7eb",
        "type": "ui_gauge",
        "z": "8af42ff0faae0f39",
        "name": "",
        "group": "6968ba1cbd4c2af3",
        "order": 1,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Humedad ",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "fc14f6fdea778025",
        "type": "ui_gauge",
        "z": "8af42ff0faae0f39",
        "name": "",
        "group": "6968ba1cbd4c2af3",
        "order": 2,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Distancia",
        "label": "cm",
        "format": "{{value}}",
        "min": "0",
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "9eb7180ba21c7471",
        "type": "ui_template",
        "z": "8af42ff0faae0f39",
        "group": "6968ba1cbd4c2af3",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n    md-sidenav.md-sidenav-left {\n        background-color: #11111A !important;\n    }\n\n    md-sidenav md-list-item * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n\n    md-sidenav md-list-item:hover {\n        background-color: #2A2A35 !important;\n    }\n\n    md-toolbar:not(.md-menu-toolbar) {\n        background-color: #11111A !important;\n        box-shadow: none !important;\n    }\n\n    md-toolbar * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "208a97eaf675be83",
        "type": "mqtt in",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/temperatura",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "5e23051b96f1cb05"
            ]
        ]
    },
    {
        "id": "0703d122c11c8ce8",
        "type": "mqtt in",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/humedad",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "8669a1ab8874a7eb"
            ]
        ]
    },
    {
        "id": "1f6e6e5e5960b86a",
        "type": "mqtt in",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/distancia",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "fc14f6fdea778025"
            ]
        ]
    },
    {
        "id": "5e6d4bf5401a0bfa",
        "type": "mqtt in",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/ruido",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 200,
        "wires": [
            [
                "c922811eb6b25b36"
            ]
        ]
    },
    {
        "id": "98494e1b5647ae7f",
        "type": "mqtt out",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/temperatura",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ecaf29400210a34a",
        "x": 480,
        "y": 300,
        "wires": []
    },
    {
        "id": "5441e01fe4b30b11",
        "type": "mqtt out",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/humedad",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ecaf29400210a34a",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "65e55161047b1fdd",
        "type": "mqtt out",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/distancia",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ecaf29400210a34a",
        "x": 470,
        "y": 380,
        "wires": []
    },
    {
        "id": "da69350589eedad4",
        "type": "mqtt out",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/ruido",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ecaf29400210a34a",
        "x": 460,
        "y": 420,
        "wires": []
    },
    {
        "id": "c922811eb6b25b36",
        "type": "ui_gauge",
        "z": "8af42ff0faae0f39",
        "name": "",
        "group": "6968ba1cbd4c2af3",
        "order": 4,
        "width": "6",
        "height": "5",
        "gtype": "donut",
        "title": "Nivel de Ruido",
        "label": "dB",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "1b5ab573a25120f6",
        "type": "mqtt in",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/temp_objeto",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "dd136719652585d5"
            ]
        ]
    },
    {
        "id": "dd136719652585d5",
        "type": "ui_gauge",
        "z": "8af42ff0faae0f39",
        "name": "",
        "group": "6968ba1cbd4c2af3",
        "order": 5,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Temp. Objeto",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "96f9a188bd240bf8",
        "type": "mqtt out",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smathome/equipo06/temp_objeto",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ecaf29400210a34a",
        "x": 480,
        "y": 460,
        "wires": []
    },
    {
        "id": "98af1780aab19cd1",
        "type": "function",
        "z": "8af42ff0faae0f39",
        "name": "function 1",
        "func": "let topic = msg.topic;\nlet valorSensor = parseFloat(msg.payload);\nmsg.payload = valorSensor;\n\n// Creamos un arreglo para las 5 salidas (inicialmente vacías)\nlet salidas = [null, null, null, null, null];\n\n// Evaluamos el tópico para saber por cuál salida enviar el dato\nif (topic === \"smarthome/equipo06/temperatura\") {\n    salidas[0] = msg; // Envía por la Salida 1\n}\nelse if (topic === \"smarthome/equipo06/humedad\") {\n    salidas[1] = msg; // Envía por la Salida 2\n}\nelse if (topic === \"smarthome/equipo06/distancia\") {\n    salidas[2] = msg; // Envía por la Salida 3\n}\nelse if (topic === \"smarthome/equipo06/ruido\") {\n    salidas[3] = msg; // Envía por la Salida 4\n}\nelse if (topic === \"smarthome/equipo06/temp_objeto\") {\n    salidas[4] = msg; // Envía por la Salida 5\n}\n\n// Retornamos el arreglo de salidas\nreturn salidas;",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 380,
        "wires": [
            [
                "98494e1b5647ae7f"
            ],
            [
                "5441e01fe4b30b11"
            ],
            [
                "65e55161047b1fdd"
            ],
            [
                "da69350589eedad4"
            ],
            [
                "96f9a188bd240bf8"
            ]
        ]
    },
    {
        "id": "2ca593fcddcfaa54",
        "type": "ui_text",
        "z": "f62a74adbda426b9",
        "group": "9182aa977ffecebe",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Movimiento",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "ddd98ef3fe58a774",
        "type": "ui_text",
        "z": "f62a74adbda426b9",
        "group": "9182aa977ffecebe",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Persona Detectada",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1550,
        "y": 260,
        "wires": []
    },
    {
        "id": "7a52a614af873ac6",
        "type": "ui_text",
        "z": "f62a74adbda426b9",
        "group": "a6e91db68bb34dd1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado de Alerta",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 300,
        "y": 440,
        "wires": []
    },
    {
        "id": "a8b6613802e47679",
        "type": "ui_switch",
        "z": "f62a74adbda426b9",
        "name": "",
        "label": "Luz Manual",
        "tooltip": "",
        "group": "a6e91db68bb34dd1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "d93433d002037d81",
        "type": "ui_template",
        "z": "f62a74adbda426b9",
        "group": "9182aa977ffecebe",
        "name": "",
        "order": 2,
        "width": "20",
        "height": "9",
        "format": "<div style=\"display: flex; justify-content: center; width: 100%;\">\n    <img src=\"http://172.20.10.3:81/stream\" style=\"width: 100%; max-width: 600px; border-radius: 8px; box-shadow: 0px 4px 10px rgba(0,0,0,0.3);\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "4563e4c1985f4aa3",
        "type": "ui_template",
        "z": "f62a74adbda426b9",
        "group": "a6e91db68bb34dd1",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n    md-sidenav.md-sidenav-left {\n        background-color: #11111A !important;\n    }\n\n    md-sidenav md-list-item * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n\n    md-sidenav md-list-item:hover {\n        background-color: #2A2A35 !important;\n    }\n\n    md-toolbar:not(.md-menu-toolbar) {\n        background-color: #11111A !important;\n        box-shadow: none !important;\n    }\n\n    md-toolbar * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n</style>\n\n<div style=\"display: flex; justify-content: center; align-items: center; padding: 10px; width: 100%;\">\n    <div ng-if=\"!msg.payload\"\n        style=\"width: 100%; padding: 40px 0; text-align: center; color: #888; border: 2px dashed #ccc; border-radius: 8px;\">\n        Esperando captura de ESP32-CAM...\n    </div>\n\n    <img ng-if=\"msg.payload\" src=\"data:image/jpeg;base64,{{msg.payload}}\" style=\"width: 100%; max-width: 600px; border-radius: 8px; box-shadow: 0px 4px 10px rgba(0,0,0,0.3);\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 280,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "5cd0d8bc05b95d92",
        "type": "ui_template",
        "z": "f62a74adbda426b9",
        "group": "9182aa977ffecebe",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n    md-sidenav.md-sidenav-left {\n        background-color: #11111A !important;\n    }\n\n    md-sidenav md-list-item * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n\n    md-sidenav md-list-item:hover {\n        background-color: #2A2A35 !important;\n    }\n\n    md-toolbar:not(.md-menu-toolbar) {\n        background-color: #11111A !important;\n        box-shadow: none !important;\n    }\n\n    md-toolbar * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 580,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e3124c2735397dfe",
        "type": "ui_button",
        "z": "f62a74adbda426b9",
        "name": "",
        "group": "9182aa977ffecebe",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Capturar Foto",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 780,
        "y": 220,
        "wires": [
            [
                "607080a73d463827"
            ]
        ]
    },
    {
        "id": "607080a73d463827",
        "type": "http request",
        "z": "f62a74adbda426b9",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://172.20.10.3/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 220,
        "wires": [
            [
                "3b1b9797d17e1f03"
            ]
        ]
    },
    {
        "id": "3b1b9797d17e1f03",
        "type": "mqtt out",
        "z": "f62a74adbda426b9",
        "name": "",
        "topic": "smarthome/equipo06/camara/evento",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ecaf29400210a34a",
        "x": 1230,
        "y": 220,
        "wires": []
    },
    {
        "id": "4b61a6dd9be8bc39",
        "type": "mqtt in",
        "z": "f62a74adbda426b9",
        "name": "",
        "topic": "smarthome/equipo06/camara/resultado",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1230,
        "y": 260,
        "wires": [
            [
                "ddd98ef3fe58a774"
            ]
        ]
    }
]