flows.json
[
    {
        "id": "8af42ff0faae0f39",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f62a74adbda426b9",
        "type": "tab",
        "label": "Flujo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ecaf29400210a34a",
        "type": "mqtt-broker",
        "name": "mosquitto",
        "broker": "172.20.10.5",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "42331fbbabf4f709",
        "type": "ui_tab",
        "name": "SmartHome UTalca",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4c2403973f8445e9",
        "type": "ui_tab",
        "name": "Seguridad y camara",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5ce8a92e307b420a",
        "type": "ui_tab",
        "name": "Control y alertas",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "43749d8e2fcf7398",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    },
    {
        "id": "6968ba1cbd4c2af3",
        "type": "ui_group",
        "name": "Condiciones Ambientales",
        "tab": "42331fbbabf4f709",
        "order": 1,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9182aa977ffecebe",
        "type": "ui_group",
        "name": "Seguridad y Cámara",
        "tab": "4c2403973f8445e9",
        "order": 1,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6e91db68bb34dd1",
        "type": "ui_group",
        "name": "Control y Alertas",
        "tab": "5ce8a92e307b420a",
        "order": 2,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b5e65b3dd28f6312",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "ProyectoIOTLUCKASYQUEBIN",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "true",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5191d8896f907a89",
        "type": "sqlitedb",
        "db": "C:\\Users\\kevin\\Desktop\\Proyecto_IoT\\historial.db",
        "mode": "RWC"
    },
    {
        "id": "0d8fe4135aec6746",
        "type": "ui_tab",
        "name": "Registro Historico",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f8e0cf0101ce174c",
        "type": "ui_group",
        "name": "Gráficos de Sensores",
        "tab": "0d8fe4135aec6746",
        "order": 1,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "3474e3df0d64691d",
        "type": "telegram bot",
        "botname": "seguritoUtal_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "testenvironment": false,
        "updatemode": "polling",
        "pollinterval": 300,
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": 6667,
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbothost": "0.0.0.0",
        "localbotport": 8443,
        "publicbotport": 8443,
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    },
    {
        "id": "5e23051b96f1cb05",
        "type": "ui_gauge",
        "z": "8af42ff0faae0f39",
        "name": "",
        "group": "6968ba1cbd4c2af3",
        "order": 3,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "8669a1ab8874a7eb",
        "type": "ui_gauge",
        "z": "8af42ff0faae0f39",
        "name": "",
        "group": "6968ba1cbd4c2af3",
        "order": 1,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Humedad ",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "fc14f6fdea778025",
        "type": "ui_gauge",
        "z": "8af42ff0faae0f39",
        "name": "",
        "group": "6968ba1cbd4c2af3",
        "order": 2,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Distancia",
        "label": "cm",
        "format": "{{value}}",
        "min": "0",
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "9eb7180ba21c7471",
        "type": "ui_template",
        "z": "8af42ff0faae0f39",
        "group": "6968ba1cbd4c2af3",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n    md-sidenav.md-sidenav-left {\n        background-color: #11111A !important;\n    }\n\n    md-sidenav md-list-item * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n\n    md-sidenav md-list-item:hover {\n        background-color: #2A2A35 !important;\n    }\n\n    md-toolbar:not(.md-menu-toolbar) {\n        background-color: #11111A !important;\n        box-shadow: none !important;\n    }\n\n    md-toolbar * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "208a97eaf675be83",
        "type": "mqtt in",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/temperatura",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "5e23051b96f1cb05"
            ]
        ]
    },
    {
        "id": "0703d122c11c8ce8",
        "type": "mqtt in",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/humedad",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "8669a1ab8874a7eb"
            ]
        ]
    },
    {
        "id": "1f6e6e5e5960b86a",
        "type": "mqtt in",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/distancia",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "fc14f6fdea778025"
            ]
        ]
    },
    {
        "id": "5e6d4bf5401a0bfa",
        "type": "mqtt in",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/ruido",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 200,
        "wires": [
            [
                "c922811eb6b25b36"
            ]
        ]
    },
    {
        "id": "98494e1b5647ae7f",
        "type": "mqtt out",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/temperatura",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ecaf29400210a34a",
        "x": 480,
        "y": 300,
        "wires": []
    },
    {
        "id": "5441e01fe4b30b11",
        "type": "mqtt out",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/humedad",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ecaf29400210a34a",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "65e55161047b1fdd",
        "type": "mqtt out",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/distancia",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ecaf29400210a34a",
        "x": 470,
        "y": 380,
        "wires": []
    },
    {
        "id": "da69350589eedad4",
        "type": "mqtt out",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/ruido",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ecaf29400210a34a",
        "x": 460,
        "y": 420,
        "wires": []
    },
    {
        "id": "c922811eb6b25b36",
        "type": "ui_gauge",
        "z": "8af42ff0faae0f39",
        "name": "",
        "group": "6968ba1cbd4c2af3",
        "order": 4,
        "width": "6",
        "height": "5",
        "gtype": "donut",
        "title": "Nivel de Ruido",
        "label": "dB",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "1b5ab573a25120f6",
        "type": "mqtt in",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/temp_objeto",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "dd136719652585d5"
            ]
        ]
    },
    {
        "id": "dd136719652585d5",
        "type": "ui_gauge",
        "z": "8af42ff0faae0f39",
        "name": "",
        "group": "6968ba1cbd4c2af3",
        "order": 5,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Temp. Objeto",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "96f9a188bd240bf8",
        "type": "mqtt out",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smathome/equipo06/temp_objeto",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ecaf29400210a34a",
        "x": 480,
        "y": 460,
        "wires": []
    },
    {
        "id": "98af1780aab19cd1",
        "type": "function",
        "z": "8af42ff0faae0f39",
        "name": "function 1",
        "func": "let topic = msg.topic;\nlet valorSensor = parseFloat(msg.payload);\nmsg.payload = valorSensor;\n\n// Creamos un arreglo para las 5 salidas (inicialmente vacías)\nlet salidas = [null, null, null, null, null];\n\n// Evaluamos el tópico para saber por cuál salida enviar el dato\nif (topic === \"smarthome/equipo06/temperatura\") {\n    salidas[0] = msg; // Envía por la Salida 1\n}\nelse if (topic === \"smarthome/equipo06/humedad\") {\n    salidas[1] = msg; // Envía por la Salida 2\n}\nelse if (topic === \"smarthome/equipo06/distancia\") {\n    salidas[2] = msg; // Envía por la Salida 3\n}\nelse if (topic === \"smarthome/equipo06/ruido\") {\n    salidas[3] = msg; // Envía por la Salida 4\n}\nelse if (topic === \"smarthome/equipo06/temp_objeto\") {\n    salidas[4] = msg; // Envía por la Salida 5\n}\n\n// Retornamos el arreglo de salidas\nreturn salidas;",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 380,
        "wires": [
            [
                "98494e1b5647ae7f"
            ],
            [
                "5441e01fe4b30b11"
            ],
            [
                "65e55161047b1fdd"
            ],
            [
                "da69350589eedad4"
            ],
            [
                "96f9a188bd240bf8"
            ]
        ]
    },
    {
        "id": "ddd98ef3fe58a774",
        "type": "ui_text",
        "z": "f62a74adbda426b9",
        "group": "9182aa977ffecebe",
        "order": 1,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Persona Detectada",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1550,
        "y": 260,
        "wires": []
    },
    {
        "id": "7a52a614af873ac6",
        "type": "ui_text",
        "z": "f62a74adbda426b9",
        "group": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado de Alerta",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 380,
        "y": 220,
        "wires": []
    },
    {
        "id": "a8b6613802e47679",
        "type": "ui_switch",
        "z": "f62a74adbda426b9",
        "name": "",
        "label": "Luz Manual",
        "tooltip": "",
        "group": "9182aa977ffecebe",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "255",
        "onvalueType": "num",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "num",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 790,
        "y": 180,
        "wires": [
            [
                "987dc38084d754e0"
            ]
        ]
    },
    {
        "id": "d93433d002037d81",
        "type": "ui_template",
        "z": "f62a74adbda426b9",
        "group": "9182aa977ffecebe",
        "name": "",
        "order": 3,
        "width": "20",
        "height": "9",
        "format": "<div style=\"display: flex; justify-content: center; width: 100%;\">\n    <img src=\"http://172.20.10.3:81/stream\" style=\"width: 100%; max-width: 600px; border-radius: 8px; box-shadow: 0px 4px 10px rgba(0,0,0,0.3);\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "4563e4c1985f4aa3",
        "type": "ui_template",
        "z": "f62a74adbda426b9",
        "group": "a6e91db68bb34dd1",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<style>\n    md-sidenav.md-sidenav-left {\n        background-color: #11111A !important;\n    }\n\n    md-sidenav md-list-item * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n\n    md-sidenav md-list-item:hover {\n        background-color: #2A2A35 !important;\n    }\n\n    md-toolbar:not(.md-menu-toolbar) {\n        background-color: #11111A !important;\n        box-shadow: none !important;\n    }\n\n    md-toolbar * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n</style>\n\n<div style=\"display: flex; justify-content: center; align-items: center; padding: 10px; width: 100%;\">\n    \n\n    <img ng-if=\"msg.payload\" src=\"data:image/jpeg;base64,{{msg.payload}}\" style=\"width: 100%; max-width: 600px; border-radius: 8px; box-shadow: 0px 4px 10px rgba(0,0,0,0.3);\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 340,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "5cd0d8bc05b95d92",
        "type": "ui_template",
        "z": "f62a74adbda426b9",
        "group": "9182aa977ffecebe",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<style>\n    md-sidenav.md-sidenav-left {\n        background-color: #11111A !important;\n    }\n\n    md-sidenav md-list-item * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n\n    md-sidenav md-list-item:hover {\n        background-color: #2A2A35 !important;\n    }\n\n    md-toolbar:not(.md-menu-toolbar) {\n        background-color: #11111A !important;\n        box-shadow: none !important;\n    }\n\n    md-toolbar * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 560,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "607080a73d463827",
        "type": "http request",
        "z": "f62a74adbda426b9",
        "name": "",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://172.20.10.3/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 990,
        "y": 320,
        "wires": [
            [
                "3b1b9797d17e1f03"
            ]
        ]
    },
    {
        "id": "3b1b9797d17e1f03",
        "type": "mqtt out",
        "z": "f62a74adbda426b9",
        "name": "",
        "topic": "smarthome/equipo06/camara/evento",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ecaf29400210a34a",
        "x": 1230,
        "y": 220,
        "wires": []
    },
    {
        "id": "4b61a6dd9be8bc39",
        "type": "mqtt in",
        "z": "f62a74adbda426b9",
        "name": "",
        "topic": "smarthome/equipo06/camara/resultado",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1230,
        "y": 260,
        "wires": [
            [
                "ddd98ef3fe58a774"
            ]
        ]
    },
    {
        "id": "b4b2a6ce845088a9",
        "type": "mqtt in",
        "z": "f62a74adbda426b9",
        "name": "",
        "topic": "smarthome/equipo06/trigger_automatico",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 700,
        "y": 360,
        "wires": [
            [
                "607080a73d463827"
            ]
        ]
    },
    {
        "id": "e3124c2735397dfe",
        "type": "ui_button",
        "z": "f62a74adbda426b9",
        "name": "",
        "group": "9182aa977ffecebe",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Capturar Foto",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 780,
        "y": 220,
        "wires": [
            [
                "607080a73d463827"
            ]
        ]
    },
    {
        "id": "5fb209b69f87623b",
        "type": "inject",
        "z": "f62a74adbda426b9",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "CREATE TABLE IF NOT EXISTS mediciones (timestamp DATETIME DEFAULT CURRENT_TIMESTAMP, temperatura REAL, humedad REAL, ruido REAL);",
        "x": 960,
        "y": 520,
        "wires": [
            [
                "7ebe5a5cf009f3dd"
            ]
        ]
    },
    {
        "id": "7ebe5a5cf009f3dd",
        "type": "sqlite",
        "z": "f62a74adbda426b9",
        "mydb": "5191d8896f907a89",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 1310,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "f63fdb4907348dac",
        "type": "mqtt in",
        "z": "f62a74adbda426b9",
        "name": "",
        "topic": "smarthome/equipo06/datos_json",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 570,
        "y": 580,
        "wires": [
            [
                "8d18a078bff0e473"
            ]
        ]
    },
    {
        "id": "8d18a078bff0e473",
        "type": "json",
        "z": "f62a74adbda426b9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 790,
        "y": 580,
        "wires": [
            [
                "0caedf1e4d181717",
                "7fbdb3f38ef1cb4d"
            ]
        ]
    },
    {
        "id": "0caedf1e4d181717",
        "type": "function",
        "z": "f62a74adbda426b9",
        "name": "function 2",
        "func": "// Aseguramos que el mensaje sea un objeto manipulable\nlet payload = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\n\n// Extraemos los valores (si no vienen, ponemos 0)\nlet temp = payload.temperatura || 0;\nlet hum = payload.humedad || 0;\nlet ruido = payload.ruido || 0;\n\n// Preparamos la consulta SQL\nmsg.topic = `INSERT INTO mediciones (temperatura, humedad, ruido) VALUES (${temp}, ${hum}, ${ruido})`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 580,
        "wires": [
            [
                "7ebe5a5cf009f3dd"
            ]
        ]
    },
    {
        "id": "a4bff2336e1c13cd",
        "type": "inject",
        "z": "f62a74adbda426b9",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "SELECT * FROM (SELECT timestamp, temperatura, humedad, ruido FROM mediciones ORDER BY timestamp DESC LIMIT 200) ORDER BY timestamp ASC;",
        "x": 500,
        "y": 660,
        "wires": [
            [
                "cfc2ec589e66f0f2"
            ]
        ]
    },
    {
        "id": "cfc2ec589e66f0f2",
        "type": "sqlite",
        "z": "f62a74adbda426b9",
        "mydb": "5191d8896f907a89",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 830,
        "y": 660,
        "wires": [
            [
                "f3a3b9c2ef3c61c7",
                "e433dfafc1a7df46",
                "bdbcb6b8ecd1455a"
            ]
        ]
    },
    {
        "id": "ef4596aeec7e6a09",
        "type": "ui_chart",
        "z": "f62a74adbda426b9",
        "name": "",
        "group": "f8e0cf0101ce174c",
        "order": 0,
        "width": "21",
        "height": "3",
        "label": "Historial temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1420,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "a7219f06cd340c49",
        "type": "ui_chart",
        "z": "f62a74adbda426b9",
        "name": "",
        "group": "f8e0cf0101ce174c",
        "order": 0,
        "width": "21",
        "height": "3",
        "label": "Historial humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1410,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "03df9f052df887ce",
        "type": "ui_chart",
        "z": "f62a74adbda426b9",
        "name": "",
        "group": "f8e0cf0101ce174c",
        "order": 0,
        "width": "21",
        "height": "3",
        "label": "HIstorial ruido",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "1",
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1400,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "c21b33c9188a4791",
        "type": "ui_template",
        "z": "f62a74adbda426b9",
        "group": "f8e0cf0101ce174c",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n    md-sidenav.md-sidenav-left {\n        background-color: #11111A !important;\n    }\n\n    md-sidenav md-list-item * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n\n    md-sidenav md-list-item:hover {\n        background-color: #2A2A35 !important;\n    }\n\n    md-toolbar:not(.md-menu-toolbar) {\n        background-color: #11111A !important;\n        box-shadow: none !important;\n    }\n\n    md-toolbar * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "c54b2128de0d50c3",
        "type": "mqtt in",
        "z": "f62a74adbda426b9",
        "name": "",
        "topic": "smarthome/equipo06/distancia",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 1010,
        "y": 120,
        "wires": [
            [
                "61b9b1cd0e68490d"
            ]
        ]
    },
    {
        "id": "61b9b1cd0e68490d",
        "type": "function",
        "z": "f62a74adbda426b9",
        "name": "function 4",
        "func": "let distancia = parseFloat(msg.payload);\n\n// Si la distancia es menor a 80cm, consideramos que hay alguien moviéndose\nif (distancia > 0 && distancia < 80) {\n    msg.payload = \"SÍ (Movimiento Detectado)\";\n} else {\n    msg.payload = \"NO (Despejado)\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 120,
        "wires": [
            [
                "5ec6fcb983972c20",
                "4fe14f385f77ac39"
            ]
        ]
    },
    {
        "id": "f131bfad3e4c0880",
        "type": "mqtt in",
        "z": "f62a74adbda426b9",
        "name": "",
        "topic": "smarthome/equipo06/alerta",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "a33bd79191e81d08"
            ]
        ]
    },
    {
        "id": "f3a3b9c2ef3c61c7",
        "type": "function",
        "z": "f62a74adbda426b9",
        "name": "temp",
        "func": "let data = [];\n\n// Extraer solo la temperatura\nmsg.payload.forEach(row => {\n    let time = new Date(row.timestamp + \"Z\").getTime();\n    if (row.temperatura !== null && row.temperatura !== undefined) {\n        data.push({x: time, y: row.temperatura});\n    }\n});\n\nmsg.payload = [{\n    \"series\": [\"Temperatura\"],\n    \"data\": [data],\n    \"labels\": [\"Temperatura\"]\n}];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 660,
        "wires": [
            [
                "ef4596aeec7e6a09"
            ]
        ]
    },
    {
        "id": "e433dfafc1a7df46",
        "type": "function",
        "z": "f62a74adbda426b9",
        "name": "hum",
        "func": "let data = [];\n\n// Extraer solo la humedad\nmsg.payload.forEach(row => {\n    let time = new Date(row.timestamp + \"Z\").getTime();\n    if (row.humedad !== null && row.humedad !== undefined) {\n        data.push({ x: time, y: row.humedad });\n    }\n});\n\nmsg.payload = [{\n    \"series\": [\"Humedad\"],\n    \"data\": [data],\n    \"labels\": [\"Humedad\"]\n}];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 700,
        "wires": [
            [
                "a7219f06cd340c49"
            ]
        ]
    },
    {
        "id": "bdbcb6b8ecd1455a",
        "type": "function",
        "z": "f62a74adbda426b9",
        "name": "ruido",
        "func": "let data = [];\n\n// Extraer solo el ruido\nmsg.payload.forEach(row => {\n    let time = new Date(row.timestamp + \"Z\").getTime();\n    if (row.ruido !== null && row.ruido !== undefined) {\n        data.push({ x: time, y: row.ruido });\n    }\n});\n\nmsg.payload = [{\n    \"series\": [\"Ruido\"],\n    \"data\": [data],\n    \"labels\": [\"Ruido\"]\n}];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 740,
        "wires": [
            [
                "03df9f052df887ce"
            ]
        ]
    },
    {
        "id": "987dc38084d754e0",
        "type": "http request",
        "z": "f62a74adbda426b9",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://172.20.10.3/control?var=led_intensity&val={{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 950,
        "y": 180,
        "wires": [
            [
                "3b1b9797d17e1f03"
            ]
        ]
    },
    {
        "id": "5ec6fcb983972c20",
        "type": "ui_template",
        "z": "f62a74adbda426b9",
        "group": "9182aa977ffecebe",
        "name": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "format": "<div style=\"width: 100%; padding: 15px; border-radius: 8px; text-align: center; font-size: 18px; font-weight: bold; transition: all 0.3s ease; box-sizing: border-box; text-transform: uppercase;\"\n    ng-style=\"{'background-color': msg.payload.includes('SÍ') ? '#ff3333' : '#2A2A35', \n                'color': msg.payload.includes('SÍ') ? '#ffffff' : '#aaaaaa',\n                'border': msg.payload.includes('SÍ') ? '2px solid #cc0000' : '2px solid #444455',\n                'box-shadow': msg.payload.includes('SÍ') ? '0px 0px 15px rgba(255, 51, 51, 0.6)' : 'none'}\">\n    {{msg.payload || 'Esperando estado...'}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1400,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "2ca593fcddcfaa54",
        "type": "ui_text",
        "z": "f62a74adbda426b9",
        "group": "",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Movimiento",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1410,
        "y": 60,
        "wires": []
    },
    {
        "id": "a33bd79191e81d08",
        "type": "ui_template",
        "z": "f62a74adbda426b9",
        "group": "a6e91db68bb34dd1",
        "name": "",
        "order": 1,
        "width": "10",
        "height": "2",
        "format": "<div style=\"width: 100%; padding: 15px; border-radius: 8px; text-align: center; font-size: 18px; font-weight: bold; transition: all 0.3s ease; box-sizing: border-box;\"\n     ng-style=\"{'background-color': msg.payload && msg.payload.includes('Presencia') ? '#ff3333' : '#2A2A35', \n                'color': msg.payload && msg.payload.includes('Presencia') ? '#ffffff' : '#aaaaaa',\n                'border': msg.payload && msg.payload.includes('Presencia') ? '2px solid #cc0000' : '2px solid #444455',\n                'box-shadow': msg.payload && msg.payload.includes('Presencia') ? '0px 0px 15px rgba(255, 51, 51, 0.6)' : 'none'}\">\n    {{msg.payload || 'Sin Alertas Críticas'}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 380,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "29992192166f9985",
        "type": "telegram sender",
        "z": "f62a74adbda426b9",
        "name": "",
        "bot": "3474e3df0d64691d",
        "haserroroutput": false,
        "outputs": 1,
        "x": 790,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7fbdb3f38ef1cb4d",
        "type": "function",
        "z": "f62a74adbda426b9",
        "name": "Filtro de alertas",
        "func": "// Aseguramos que el payload sea un objeto manipulable\nlet data = typeof msg.payload === 'string' ? JSON.parse(msg.payload) : msg.payload;\n\n// --- 1. CONFIGURACIÓN DE UMBRALES ---\n// Define aquí qué consideras un dato \"crítico\"\nconst UMBRAL_TEMP = 30.0;     // Alerta si supera los 30°C\nconst UMBRAL_RUIDO = 1500;    // Alerta si el ruido supera 1500\nconst UMBRAL_DISTANCIA = 50;  // Alerta si hay un objeto/persona a menos de 80cm\n\n// --- 2. CONFIGURACIÓN ANTI-SPAM (COOLDOWN) ---\n// Define el tiempo de silencio obligatorio entre alertas del mismo tipo\nconst TIEMPO_ESPERA = 60000; // 60,000 milisegundos = 1 minuto entero\nconst miChatId = \"1007849868\"; // REEMPLAZA CON TU CHAT ID DE TELEGRAM\n\n// Recuperamos la memoria del nodo para saber cuándo fue la última alerta\n// Si es la primera vez que se ejecuta, iniciamos los tiempos en 0\nlet ultimaAlerta = context.get('ultimaAlerta') || {\n    temp: 0,\n    ruido: 0,\n    movimiento: 0\n};\n\nlet ahora = Date.now();\nlet alertasActivas = [];\n\n// --- 3. EVALUACIÓN DE REGLAS ---\n\n// Regla 1: Temperatura\nif (data.temperatura && data.temperatura > UMBRAL_TEMP) {\n    if (ahora - ultimaAlerta.temp > TIEMPO_ESPERA) {\n        alertasActivas.push(\"🔥 ALERTA: Temperatura crítica detectada (\" + data.temperatura + \"°C)\");\n        ultimaAlerta.temp = ahora; // Guardamos la hora de esta alerta\n    }\n}\n\n// Regla 2: Ruido\nif (data.ruido && data.ruido > UMBRAL_RUIDO) {\n    if (ahora - ultimaAlerta.ruido > TIEMPO_ESPERA) {\n        alertasActivas.push(\"🔊 ALERTA: Fuerte ruido detectado (\" + data.ruido + \")\");\n        ultimaAlerta.ruido = ahora;\n    }\n}\n\n// Regla 3: Intrusión (Distancia)\nif (data.distancia && data.distancia > 0 && data.distancia < UMBRAL_DISTANCIA) {\n    if (ahora - ultimaAlerta.movimiento > TIEMPO_ESPERA) {\n        alertasActivas.push(\"🚶 ALERTA: Posible intruso a \" + data.distancia + \" cm\");\n        ultimaAlerta.movimiento = ahora;\n    }\n}\n\n// --- 4. GUARDAR MEMORIA Y ENVIAR ---\n\n// Guardamos los tiempos actualizados en la memoria interna del nodo\ncontext.set('ultimaAlerta', ultimaAlerta);\n\n// Si se rompió algún umbral y pasó el tiempo de espera, enviamos el mensaje\nif (alertasActivas.length > 0) {\n\n    // 1. Preparamos el mensaje con el formato exacto para Telegram\n    let msgTelegram = {\n        payload: {\n            chatId: miChatId,\n            type: \"message\",\n            content: \"⚠️ *REPORTE DE EVENTOS:*\\n\\n\" + alertasActivas.join(\"\\n\")\n        }\n    };\n\n    // 2. Preparamos un mensaje de texto simple para el Dashboard\n    let msgDashboard = {\n        payload: alertasActivas.join(\" | \") // Usamos \" | \" para separar múltiples alertas en una misma línea\n    };\n\n    // Retornamos un arreglo: El primer elemento va por la Salida 1 (Telegram)\n    // El segundo elemento va por la Salida 2 (Dashboard)\n    return [msgTelegram, msgDashboard];\n\n} else {\n    // Si no hay alertas nuevas, no enviamos nada por ninguna salida\n    return [null, null];\n}",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 500,
        "wires": [
            [
                "29992192166f9985"
            ],
            [
                "ea8bcac8079dc8ea"
            ]
        ]
    },
    {
        "id": "4fe14f385f77ac39",
        "type": "ui_template",
        "z": "f62a74adbda426b9",
        "group": "a6e91db68bb34dd1",
        "name": "",
        "order": 6,
        "width": "10",
        "height": "2",
        "format": "<div style=\"width: 100%; padding: 15px; border-radius: 8px; text-align: center; font-size: 18px; font-weight: bold; transition: all 0.3s ease; box-sizing: border-box; text-transform: uppercase;\"\n    ng-style=\"{'background-color': msg.payload.includes('SÍ') ? '#ff3333' : '#2A2A35', \n                'color': msg.payload.includes('SÍ') ? '#ffffff' : '#aaaaaa',\n                'border': msg.payload.includes('SÍ') ? '2px solid #cc0000' : '2px solid #444455',\n                'box-shadow': msg.payload.includes('SÍ') ? '0px 0px 15px rgba(255, 51, 51, 0.6)' : 'none'}\">\n    {{msg.payload || 'Esperando estado...'}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1400,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "498ade47e790572e",
        "type": "ui_button",
        "z": "f62a74adbda426b9",
        "name": "",
        "group": "a6e91db68bb34dd1",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Alerta Manual",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "¡ALERTA MANUAL ACTIVADA DESDE EL DASHBOARD!",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 400,
        "y": 460,
        "wires": [
            [
                "5cfc8915148d71e3"
            ]
        ]
    },
    {
        "id": "ea8bcac8079dc8ea",
        "type": "ui_text",
        "z": "f62a74adbda426b9",
        "group": "a6e91db68bb34dd1",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Último evento",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 780,
        "y": 520,
        "wires": []
    },
    {
        "id": "5cfc8915148d71e3",
        "type": "function",
        "z": "f62a74adbda426b9",
        "name": "alerta manual",
        "func": "const miChatId = \"1007849868\";\n\n// Capturamos la hora local exacta\nlet fecha = new Date().toLocaleString(\"es-CL\", { timeZone: \"America/Santiago\" });\n\n// Construimos el mensaje de prueba cumpliendo la rúbrica\nlet textoAlerta = \"🚨 *SIMULACRO DE SISTEMA* 🚨\\n\\n\" +\n    \"Evento: Disparo manual desde Dashboard\\n\" +\n    \"Valor: Botón de Pánico\\n\" +\n    \"Timestamp: \" + fecha;\n\n// Formateamos el paquete exactamente como lo exige el nodo de Telegram\nmsg.payload = {\n    chatId: miChatId,\n    type: \"message\",\n    content: textoAlerta\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 460,
        "wires": [
            [
                "29992192166f9985",
                "ea8bcac8079dc8ea"
            ]
        ]
    }
]