flows.json
[
    {
        "id": "8af42ff0faae0f39",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5e23051b96f1cb05",
        "type": "ui_gauge",
        "z": "8af42ff0faae0f39",
        "name": "",
        "group": "6968ba1cbd4c2af3",
        "order": 3,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Temperatura",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 80,
        "wires": []
    },
    {
        "id": "8669a1ab8874a7eb",
        "type": "ui_gauge",
        "z": "8af42ff0faae0f39",
        "name": "",
        "group": "6968ba1cbd4c2af3",
        "order": 1,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Humedad ",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "fc14f6fdea778025",
        "type": "ui_gauge",
        "z": "8af42ff0faae0f39",
        "name": "",
        "group": "6968ba1cbd4c2af3",
        "order": 2,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Distancia",
        "label": "cm",
        "format": "{{value}}",
        "min": "0",
        "max": "300",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 580,
        "y": 160,
        "wires": []
    },
    {
        "id": "ad50f7bc8ae0294c",
        "type": "ui_text",
        "z": "8af42ff0faae0f39",
        "group": "9182aa977ffecebe",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Movimiento",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 150,
        "y": 580,
        "wires": []
    },
    {
        "id": "f82675d8cee0bb44",
        "type": "ui_text",
        "z": "8af42ff0faae0f39",
        "group": "9182aa977ffecebe",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Persona Detectada",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 150,
        "y": 620,
        "wires": []
    },
    {
        "id": "2db19313ea1fe844",
        "type": "ui_text",
        "z": "8af42ff0faae0f39",
        "group": "a6e91db68bb34dd1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado de Alerta",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 460,
        "wires": []
    },
    {
        "id": "b3783a26ee0683bc",
        "type": "ui_switch",
        "z": "8af42ff0faae0f39",
        "name": "",
        "label": "Luz Manual",
        "tooltip": "",
        "group": "a6e91db68bb34dd1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 730,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "a65df25b19e65431",
        "type": "ui_button",
        "z": "8af42ff0faae0f39",
        "name": "",
        "group": "a6e91db68bb34dd1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Capturar Foto",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 740,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "eb9aa4eb876db5ab",
        "type": "ui_template",
        "z": "8af42ff0faae0f39",
        "group": "9182aa977ffecebe",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n    md-sidenav.md-sidenav-left {\n        background-color: #11111A !important;\n    }\n\n    md-sidenav md-list-item * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n\n    md-sidenav md-list-item:hover {\n        background-color: #2A2A35 !important;\n    }\n\n    md-toolbar:not(.md-menu-toolbar) {\n        background-color: #11111A !important;\n        box-shadow: none !important;\n    }\n\n    md-toolbar * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 140,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "a23bddddddacfb4a",
        "type": "ui_template",
        "z": "8af42ff0faae0f39",
        "group": "9182aa977ffecebe",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"display: flex; justify-content: center;\">\n    <img id=\"camara\" src=\"data:image/jpeg;base64,{{msg.payload}}\" style=\"max-width: 100%; border-radius: 8px;\" alt=\"Esperando cámara ESP32...\" />\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 740,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "9eb7180ba21c7471",
        "type": "ui_template",
        "z": "8af42ff0faae0f39",
        "group": "6968ba1cbd4c2af3",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n    md-sidenav.md-sidenav-left {\n        background-color: #11111A !important;\n    }\n\n    md-sidenav md-list-item * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n\n    md-sidenav md-list-item:hover {\n        background-color: #2A2A35 !important;\n    }\n\n    md-toolbar:not(.md-menu-toolbar) {\n        background-color: #11111A !important;\n        box-shadow: none !important;\n    }\n\n    md-toolbar * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 500,
        "y": 40,
        "wires": [
            []
        ]
    },
    {
        "id": "bc0d9277a46b8667",
        "type": "ui_template",
        "z": "8af42ff0faae0f39",
        "group": "a6e91db68bb34dd1",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n    md-sidenav.md-sidenav-left {\n        background-color: #11111A !important;\n    }\n\n    md-sidenav md-list-item * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n\n    md-sidenav md-list-item:hover {\n        background-color: #2A2A35 !important;\n    }\n\n    md-toolbar:not(.md-menu-toolbar) {\n        background-color: #11111A !important;\n        box-shadow: none !important;\n    }\n\n    md-toolbar * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 740,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "208a97eaf675be83",
        "type": "mqtt in",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/temperatura",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "5e23051b96f1cb05"
            ]
        ]
    },
    {
        "id": "0703d122c11c8ce8",
        "type": "mqtt in",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/humedad",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 120,
        "wires": [
            [
                "8669a1ab8874a7eb"
            ]
        ]
    },
    {
        "id": "1f6e6e5e5960b86a",
        "type": "mqtt in",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/distancia",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "fc14f6fdea778025"
            ]
        ]
    },
    {
        "id": "5e6d4bf5401a0bfa",
        "type": "mqtt in",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/ruido",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 310,
        "y": 200,
        "wires": [
            [
                "c922811eb6b25b36"
            ]
        ]
    },
    {
        "id": "98494e1b5647ae7f",
        "type": "mqtt out",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/temperatura",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ecaf29400210a34a",
        "x": 480,
        "y": 300,
        "wires": []
    },
    {
        "id": "5441e01fe4b30b11",
        "type": "mqtt out",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/humedad",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ecaf29400210a34a",
        "x": 510,
        "y": 340,
        "wires": []
    },
    {
        "id": "65e55161047b1fdd",
        "type": "mqtt out",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/distancia",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ecaf29400210a34a",
        "x": 470,
        "y": 380,
        "wires": []
    },
    {
        "id": "da69350589eedad4",
        "type": "mqtt out",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/ruido",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ecaf29400210a34a",
        "x": 460,
        "y": 420,
        "wires": []
    },
    {
        "id": "c922811eb6b25b36",
        "type": "ui_gauge",
        "z": "8af42ff0faae0f39",
        "name": "",
        "group": "6968ba1cbd4c2af3",
        "order": 4,
        "width": "6",
        "height": "5",
        "gtype": "donut",
        "title": "Nivel de Ruido",
        "label": "dB",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 600,
        "y": 200,
        "wires": []
    },
    {
        "id": "1b5ab573a25120f6",
        "type": "mqtt in",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smarthome/equipo06/temp_objeto",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 240,
        "wires": [
            [
                "dd136719652585d5"
            ]
        ]
    },
    {
        "id": "dd136719652585d5",
        "type": "ui_gauge",
        "z": "8af42ff0faae0f39",
        "name": "",
        "group": "6968ba1cbd4c2af3",
        "order": 5,
        "width": "7",
        "height": "7",
        "gtype": "gage",
        "title": "Temp. Objeto",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 620,
        "y": 240,
        "wires": []
    },
    {
        "id": "96f9a188bd240bf8",
        "type": "mqtt out",
        "z": "8af42ff0faae0f39",
        "name": "",
        "topic": "smathome/equipo06/temp_objeto",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ecaf29400210a34a",
        "x": 480,
        "y": 460,
        "wires": []
    },
    {
        "id": "98af1780aab19cd1",
        "type": "function",
        "z": "8af42ff0faae0f39",
        "name": "function 1",
        "func": "let topic = msg.topic;\nlet valorSensor = parseFloat(msg.payload);\nmsg.payload = valorSensor;\n\n// Creamos un arreglo para las 5 salidas (inicialmente vacías)\nlet salidas = [null, null, null, null, null];\n\n// Evaluamos el tópico para saber por cuál salida enviar el dato\nif (topic === \"smarthome/equipo06/temperatura\") {\n    salidas[0] = msg; // Envía por la Salida 1\n}\nelse if (topic === \"smarthome/equipo06/humedad\") {\n    salidas[1] = msg; // Envía por la Salida 2\n}\nelse if (topic === \"smarthome/equipo06/distancia\") {\n    salidas[2] = msg; // Envía por la Salida 3\n}\nelse if (topic === \"smarthome/equipo06/ruido\") {\n    salidas[3] = msg; // Envía por la Salida 4\n}\nelse if (topic === \"smarthome/equipo06/temp_objeto\") {\n    salidas[4] = msg; // Envía por la Salida 5\n}\n\n// Retornamos el arreglo de salidas\nreturn salidas;",
        "outputs": 5,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 140,
        "y": 380,
        "wires": [
            [
                "98494e1b5647ae7f"
            ],
            [
                "5441e01fe4b30b11"
            ],
            [
                "65e55161047b1fdd"
            ],
            [
                "da69350589eedad4"
            ],
            [
                "96f9a188bd240bf8"
            ]
        ]
    },
    {
        "id": "6968ba1cbd4c2af3",
        "type": "ui_group",
        "name": "Condiciones Ambientales",
        "tab": "42331fbbabf4f709",
        "order": 1,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9182aa977ffecebe",
        "type": "ui_group",
        "name": "Seguridad y Cámara",
        "tab": "4c2403973f8445e9",
        "order": 1,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6e91db68bb34dd1",
        "type": "ui_group",
        "name": "Control y Alertas",
        "tab": "5ce8a92e307b420a",
        "order": 2,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ecaf29400210a34a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "42331fbbabf4f709",
        "type": "ui_tab",
        "name": "SmartHome UTalca",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "4c2403973f8445e9",
        "type": "ui_tab",
        "name": "Seguridad y camara",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5ce8a92e307b420a",
        "type": "ui_tab",
        "name": "Control y alertas",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "43749d8e2fcf7398",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]