flow2.json
[
    {
        "id": "c0341825f0ea7a30",
        "type": "tab",
        "label": "Flujo 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ad50f7bc8ae0294c",
        "type": "ui_text",
        "z": "c0341825f0ea7a30",
        "group": "9182aa977ffecebe",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Movimiento",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 260,
        "wires": []
    },
    {
        "id": "f82675d8cee0bb44",
        "type": "ui_text",
        "z": "c0341825f0ea7a30",
        "group": "9182aa977ffecebe",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Persona Detectada",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 670,
        "y": 300,
        "wires": []
    },
    {
        "id": "2db19313ea1fe844",
        "type": "ui_text",
        "z": "c0341825f0ea7a30",
        "group": "a6e91db68bb34dd1",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Estado de Alerta",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 300,
        "y": 440,
        "wires": []
    },
    {
        "id": "b3783a26ee0683bc",
        "type": "ui_switch",
        "z": "c0341825f0ea7a30",
        "name": "",
        "label": "Luz Manual",
        "tooltip": "",
        "group": "a6e91db68bb34dd1",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "a65df25b19e65431",
        "type": "ui_button",
        "z": "c0341825f0ea7a30",
        "name": "",
        "group": "a6e91db68bb34dd1",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Capturar Foto",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 300,
        "y": 520,
        "wires": [
            [
                "c451776026c13117"
            ]
        ]
    },
    {
        "id": "eb9aa4eb876db5ab",
        "type": "ui_template",
        "z": "c0341825f0ea7a30",
        "group": "9182aa977ffecebe",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n    md-sidenav.md-sidenav-left {\n        background-color: #11111A !important;\n    }\n\n    md-sidenav md-list-item * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n\n    md-sidenav md-list-item:hover {\n        background-color: #2A2A35 !important;\n    }\n\n    md-toolbar:not(.md-menu-toolbar) {\n        background-color: #11111A !important;\n        box-shadow: none !important;\n    }\n\n    md-toolbar * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n</style>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 660,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "a23bddddddacfb4a",
        "type": "ui_template",
        "z": "c0341825f0ea7a30",
        "group": "9182aa977ffecebe",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"display: flex; justify-content: center;\">\n    <img id=\"camara\" src=\"data:image/jpeg;base64,{{msg.payload}}\" style=\"max-width: 100%; border-radius: 8px;\" alt=\"Esperando cámara ESP32...\" />\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 660,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "bc0d9277a46b8667",
        "type": "ui_template",
        "z": "c0341825f0ea7a30",
        "group": "a6e91db68bb34dd1",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<style>\n    md-sidenav.md-sidenav-left {\n        background-color: #11111A !important;\n    }\n\n    md-sidenav md-list-item * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n\n    md-sidenav md-list-item:hover {\n        background-color: #2A2A35 !important;\n    }\n\n    md-toolbar:not(.md-menu-toolbar) {\n        background-color: #11111A !important;\n        box-shadow: none !important;\n    }\n\n    md-toolbar * {\n        color: #FFFFFF !important;\n        fill: #FFFFFF !important;\n    }\n</style>\n\n<div style=\"display: flex; justify-content: center; align-items: center; padding: 10px; width: 100%;\">\n    <div ng-if=\"!msg.payload\"\n        style=\"width: 100%; padding: 40px 0; text-align: center; color: #888; border: 2px dashed #ccc; border-radius: 8px;\">\n        Esperando captura de ESP32-CAM...\n    </div>\n\n    <img ng-if=\"msg.payload\" src=\"data:image/jpeg;base64,{{msg.payload}}\" style=\"width: 100%; max-width: 600px; border-radius: 8px; box-shadow: 0px 4px 10px rgba(0,0,0,0.3);\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 780,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "3e9831150453fbdb",
        "type": "base64",
        "z": "c0341825f0ea7a30",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 620,
        "y": 580,
        "wires": [
            [
                "bc0d9277a46b8667"
            ]
        ]
    },
    {
        "id": "c451776026c13117",
        "type": "mqtt out",
        "z": "c0341825f0ea7a30",
        "name": "",
        "topic": "smarthome/equipo06/trigger_camara",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ecaf29400210a34a",
        "x": 590,
        "y": 520,
        "wires": []
    },
    {
        "id": "7c71e42c1ae2214e",
        "type": "mqtt in",
        "z": "c0341825f0ea7a30",
        "name": "",
        "topic": "smarthome/equipo06/camara/evento",
        "qos": "2",
        "datatype": "buffer",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 340,
        "y": 580,
        "wires": [
            [
                "3e9831150453fbdb"
            ]
        ]
    },
    {
        "id": "bec6b08b06b98e01",
        "type": "mqtt in",
        "z": "c0341825f0ea7a30",
        "name": "",
        "topic": "smarthome/equipo06/camara/resultado",
        "qos": "2",
        "datatype": "utf8",
        "broker": "ecaf29400210a34a",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "f82675d8cee0bb44"
            ]
        ]
    },
    {
        "id": "9182aa977ffecebe",
        "type": "ui_group",
        "name": "Seguridad y Cámara",
        "tab": "4c2403973f8445e9",
        "order": 1,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a6e91db68bb34dd1",
        "type": "ui_group",
        "name": "Control y Alertas",
        "tab": "5ce8a92e307b420a",
        "order": 2,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ecaf29400210a34a",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.hivemq.com",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "4c2403973f8445e9",
        "type": "ui_tab",
        "name": "Seguridad y camara",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "5ce8a92e307b420a",
        "type": "ui_tab",
        "name": "Control y alertas",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6235ea90e7413e6f",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6",
            "node-red-node-base64": "1.0.0"
        }
    }
]